.active {
    background-color: rgb(21, 147, 156);
    color: white !important;
}

.router-calendar-view-container {
    width: 100%;
    display: flex;
    justify-content: end;

    div {
        width: 15%;
        display: flex;
        justify-content: space-around;
    }
}